@using EWS.Web.Helpers

<div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="txtSentenceAra" placeholder="kelime giriniz" aria-label="kelime giriniz" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="searchSentence('sentenceListMain')"><i class="fa fa-search"></i>&nbsp;Ara</button>
        </div>
    </div>
</div>

<div id="sentenceListMain">

</div>

