@model List<EWS.Model.EWSSampleSentence>

@foreach (var item in Model)
{
    <div class="row pb-2 m-1 rounded bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 m-1">
                    <input type="text" class="form-control listText bg-light" value="@item.Sentence" id="sentence_@item.UN" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-1">
                    <input type="text" class="form-control listText bg-light" value="@item.SentenceMean" id="sentenceMean_@item.UN" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-1">
                    <button onclick="UpdateSentence('@item.UN')" class="btn btn-secondary"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
}