<div class="container">
    <div class="row border-dark border-bottom mb-2">
        <div class="col-5">
            <h4>Çalışma Ekranı</h4>
        </div>
    </div>
    <div class="row">
        <a href="javascript:void(0)" class="btn btn-outline-dark"><i class="fa fa-flash fa-2x"></i>&nbsp; Flash Kart</a>&nbsp;
        <a href="javascript:void(0)" class="btn btn-outline-dark"><i class="fa fa-dollar fa-2x"></i>&nbsp;&nbsp; İngilizcesini Yaz</a>&nbsp;
        <a href="javascript:void(0)" class="btn btn-outline-dark"><i class="fa fa-turkish-lira fa-2x"></i>&nbsp;&nbsp; Türkçesini Yaz</a>&nbsp;
        <a href="javascript:void(0)" class="btn btn-outline-dark"><i class="fa fa-table fa-2x"></i>&nbsp;&nbsp; Çoktan Seçmeli</a>&nbsp;
        <a href="javascript:void(0)" class="btn btn-outline-dark"><i class="fa fa-battery-0 fa-2x"></i>&nbsp;&nbsp; Boşluk Doldur</a>&nbsp;
    </div>
    
    <div class="row mt-2" id="studyScreenAlt">
        Buraya Gelecek
    </div>
</div>

