@model EWS.Model.EWSWord

<div id="wordForList_@Model.UN">
    <div class="p-3 m-0 rounded">
        <h5 class="font-italic"><a href="javascript:void(0)" class="text-white" onclick="getWordDetails('@Model.UN')">@Model.WordBody</a></h5>
        <p class="mb-2">@Model.Description</p>
    </div>
</div>

<script>

</script>

