h2{
    color:#ff0066;
}



.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #ff6600;
    border-bottom: 3px solid #ff6600;
    background-color:transparent !important; 
    border-radius:0px;
}

.nav-link  {
    color: #888;
    text-decoration: none;
    background-color: transparent;
    transition: all .5s ease;
    border-bottom: 3px solid #fff;
    position: relative;
    border-radius:0px;
}

 .nav-link hover {
        color: #ff6600;
        border-bottom: 3px solid #ff6600;
        transition: all .15s ease-in-out;
    }
    }